include /etc/nginx/includes/http-common.conf;
server {
  listen 0.0.0.0:80;
  listen [::]:80 default_server;
  server_tokens off;
<% if @ssl_certificate -%>
  server_name _;

  ## Redirects all traffic to the HTTPS host
  root /nowhere; ## root doesn't have to be a valid path since we are redirecting
  rewrite ^ https://$host$request_uri? permanent;
}

#HTTP host for internal services
server {
  listen 127.0.0.1:80;
  listen [::1]:80;
  server_name localhost;
  server_tokens off;

  include /etc/nginx/includes/ds-common.conf;
  include /etc/nginx/includes/ds-docservice.conf;
}

## HTTPS host
server {
  listen 0.0.0.0:443 ssl;
  listen [::]:443 ssl default_server;
  server_tokens off;
  root /usr/share/nginx/html;

  ## Strong SSL Security
  ## https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html
  ssl on;
  ssl_certificate <%= @ssl_certificate %>;
  ssl_certificate_key <%= @ssl_certificate_key %>;
  <% if @ssl_password_file -%>
  ssl_password_file <%= @ssl_password_file %>;
  <% end -%>
  ssl_verify_client <%= @ssl_verify_client ? 'on' : 'off' %>;

  ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";

  ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
  ssl_session_cache  builtin:1000  shared:SSL:10m;

  ssl_prefer_server_ciphers on;

  add_header Strict-Transport-Security max-age=31536000;
  # add_header X-Frame-Options SAMEORIGIN;
  add_header X-Content-Type-Options nosniff;

  <% if @ssl_stapling_certificate -%>
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate <%= @ssl_stapling_certificate %>;
  resolver 208.67.222.222 208.67.222.220 valid=300s; # Can change to your DNS resolver if desired
  resolver_timeout 10s;

  <% end -%>
  <% if @ssl_dhparam -%>
  ssl_dhparam <%= @ssl_dhparam %>;
  <% end -%>
<% end -%>
  set $secure_link_secret <%= @secure_link_secret %>;
  include /etc/nginx/includes/ds-*.conf;
}
