{
  "server": {
    "token": {
      "enable": <%= @token_enable || @jwt_enable ? 'true' : 'false' %>,
      "secret": "<%= @token_secret || @jwt_secret %>",
      "authorizationHeader": "<%= @authorization_header || @jwt_header %>"
    }
  },
  "services": {
    "CoAuthoring": {
<% unless @auto_assembly_interval.nil? -%>
      "autoAssembly": {
        "enable": true,
        "interval": "<%= @auto_assembly_interval %>"
      },
<% end -%>
      "server": {
        "limits_tempfile_upload": <%= @max_download_bytes %>
      },
      "sql": {
        "type": "postgres",
        "dbHost": "localhost",
        "dbPort": "<%= @dbport %>",
        "dbName": "<%= @dbname %>",
        "dbUser": "<%= @dbuser %>",
        "dbPass": "<%= @dbpassword %>"
      },
      "redis": {
        "host": "localhost"
      },
      "token": {
        "enable": {
          "browser": <%= @token_enable_browser || @jwt_enable ? 'true' : 'false' %>,
          "request": {
            "inbox": <%= @token_enable_request_inbox || @jwt_enable ? 'true' : 'false' %>,
            "outbox": <%= @token_enable_request_outbox || @jwt_enable ? 'true' : 'false' %>
          }
        },
        "inbox": {
          "header": "<%= @inbox_header || @jwt_header %>",
          "inBody": <%= @jwt_in_body ? 'true' : 'false' %>
        },
        "outbox": {
          "header": "<%= @outbox_header || @jwt_header %>",
          "inBody": <%= @jwt_in_body ? 'true' : 'false' %>
        }
      },
      "secret": {
        "inbox": {
          "string": "<%= @secret_inbox || @jwt_secret %>"
        },
        "outbox": {
          "string": "<%= @secret_outbox || @jwt_secret %>"
        },
        "session": {
          "string": "<%= @secret_session || @jwt_secret %>"
        }
      }
    }
  },
  "rabbitmq": {
    "url": "amqp://guest:guest@localhost"
  },
  "FileConverter": {
    "converter": {
      "maxDownloadBytes": <%= @max_download_bytes %>,
      "inputLimits": [
        {
          "type": "docx;dotx;docm;dotm",
          "zip": {
            "uncompressed": "<%= @max_file_size %>",
            "template": "*.xml"
          }
        },
        {
          "type": "xlsx;xltx;xlsm;xltm",
          "zip": {
            "uncompressed": "<%= @max_file_size %>",
            "template": "*.xml"
          }
        },
        {
          "type": "pptx;ppsx;potx;pptm;ppsm;potm",
          "zip": {
            "uncompressed": "<%= @max_file_size %>",
            "template": "*.xml"
          }
        }
      ]
    }
  }
}
